node_modules/
build/output/
hamahiri/build/
lock/build/
.vscode/
resources/

pki/newcerts/*.pem
pki/*.old
pki/usr/*.req
pki/usr/*.pem
pki/usr/*.p7b
*.log
*.node
options.json
distribution.json
test/xapiripe.js
test/*.req
test/*.pem
test/*.p7b