body {
	font-family: "Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-right: 2em;
	margin-left: 2em;
}
div, pre {
	margin: 2em;
}
figure {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}
figcaption {
	font-style: italic;
}
ul {
	list-style-type: square;
	margin-left: 2em;
}
ol {
	list-style-type: lower-roman;
	margin-left: 2em;
}
ol.space {
	line-height: 200%;
}
h2 {
	margin-top: 2em;
	margin-bottom: 1em;
}
table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
p.countermeasure {
	font-style: italic;
	font-size: 12pt;
	margin-left: 4em;
	margin-right: 4em;
}
p.date {
	font-style: italic;
	font-size: 9pt;
	text-align: right;
	margin-right: 4em;
}